@{
    ViewBag.Title = "Login";
}
<html>
<head>
    <title>Yatzy - Login</title>
    <script src="~/Scripts/YatzyScript.js"></script>
</head>
<body>
    <table class="game">
        <tr>
            <th></th>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Player 3</th>
        </tr>
        <th>1'ere</th>
        <th></th>
        <th></th>
        <th></th>
        <tr>
            <th>2'ere</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>3'ere</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>4'ere</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>5'ere</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>6'ere</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>SUM</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Bonus</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>1 par</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>2 par</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>3 ens</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>4 ens</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Lille straight</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Stor Straight</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Hus</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Chance</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>YATZY</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>SUM</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </table>
    <h1 class='headline'>Login</h1>
    <form class='form'>
        Brugernavn: <input class="inp" type="text" name="Brugernavn" id="1" value=""><br>
        Password: <input class="inp" type="text" name="Password" id="2" value=""><br>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>